{% extends "account/base.html" %}

{% load i18n bootstrap3 %}

{% block title %}{% trans "Set Password" %}{% endblock %}
{% block page_header %}{% trans "Set Password" %}{% endblock %}

{% block page_content %}
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons %}
        <div class="col-md-9 col-md-offset-3">
            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </div>
        {% endbuttons %}
    </form>
{% endblock %}
