{% extends "account/base.html" %}

{% load i18n bootstrap3 %}

{% block title %}{% trans "Signup" %}{% endblock %}
{% block page_header %}{% trans "Signup" %}{% endblock %}

{% block page_content %}

<p class="text-muted">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  {% bootstrap_form form layout='horizontal' %}
  {% buttons %}
  <div class="col-md-9 col-md-offset-3"><button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button></div>  
  {% endbuttons %}
</form>

{% endblock %}
