{% extends 'www/base.html' %}

{% block content %}

<!-- /.feature 2 section -->
<div id="feature-2">
	<div class="container">
		<div class="row">

			<!-- /.feature content -->
			<div class="col-md-6 wow fadeInLeft">

				<h2 class="form-title text-center">Reset Your Password</h2>
				<p>Please enter your email address. We'll email you a link to reset your password. 
				</p>
				<form class="form-header" action="http://moxdesign.us10.list-manage.com/subscribe/post" role="form" method="POST" id="#">

					<div class="form-group">
						<input class="form-control input-lg" name="MERGE0" id="email" type="email" placeholder="Email Address" required>
					</div>
					<div class="form-group last">
						<input type="submit" class="btn btn-warning btn-block btn-lg" value="Continue">
					</div>


				</form>

			</div>


		</div>			  

	</div>
</div>

{% endblock %}