
{% extends 'www/base.html' %}

{% block content %}
<!-- Main component for a primary marketing message or call to action -->

<div class="jumbotron">
	<!--<div class="container-fluid">-->
		



		{% if form.errors %}
		<p style="color:red;"> Please correct the error below.</p>
		{% endif %}


		<form action="" method="post">
			<table>
				{{ form.as_table }}
			</table>
			{% csrf_token %}
			<input type="submit" value="Submit">
		</form>



<!--
		<form method="post">
		{% csrf_token %}
			<div class="form-group">
				<label for="loanDesiredAmount">Pinjaman personal dari Rp 5 hingga Rp 20 juta</label>
				<input type="number" min="5" max="20" class="form-control" id="loanDesiredAmount" placeholder="Rp 5 juta">
			</div>
			<div class="form-group">
				<label for="loanPurpose">Purpose</label>
				<input type="text" class="form-control" id="loanPurpose" placeholder="Purpose">
			</div>


			<button type="submit" class="btn btn-warning">Submit</button>
		</form>

		<!-- /jumbotron -->

	</div>
</div> 

{% endblock %}





